﻿@model MVC.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div type="hidden" class="form-group">
                <label asp-for="UseriD" class="control-label"></label>
                <input asp-for="UseriD" class="form-control" />
                <span asp-validation-for="UseriD" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Emri" class="control-label"></label>
                <input asp-for="Emri" class="form-control" />
                <span asp-validation-for="Emri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mbiemri" class="control-label"></label>
                <input asp-for="Mbiemri" class="form-control" />
                <span asp-validation-for="Mbiemri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datlindja" class="control-label"></label>
                <input asp-for="Datlindja" class="form-control" />
                <span asp-validation-for="Datlindja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nr_Tel" class="control-label"></label>
                <input asp-for="Nr_Tel" class="form-control" />
                <span asp-validation-for="Nr_Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gjinia" class="control-label"></label>
                @*<select asp-for="Gjinia" class="control-label"  asp-items="@(new SelectList(ViewBag.StatusiMartesor,"ID","Gjinia"))"></select>*@
                <input asp-for="Gjinia" class="form-control" />
                <span asp-validation-for="Gjinia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Punesimi" class="control-label"></label>
                <input asp-for="Punesimi" class="form-control" />
                <span asp-validation-for="Punesimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusiMartesor" class="control-label"></label>
                <input asp-for="StatusiMartesor" class="form-control" />
                <span asp-validation-for="StatusiMartesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendlindja" class="control-label"></label>
                <input asp-for="Vendlindja" class="form-control" />
                <span asp-validation-for="Vendlindja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <br/>
                 <a asp-action="UserList" class="btn btn-outline-success">User List</a>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="UserList" class="btn btn-outline-success">User List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
