﻿@model IEnumerable<MVC.Models.User>

@{
    ViewData["Title"] = "UserList";
    //Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>UserList</h1>
<form asp-action="Search">
    <div class="input-group md-form align-content-sm-around form-2 pl-0">
        <input name="childname" class="form-control my-0 py-1 red-border" type="text" placeholder="Search Users..." form="SearchTerm" />
        <div class="input-group-append">
            <button id="basic-text1" type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<br/>

<p class="float-right">
    <a asp-action="Create" class="btn btn-primary">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Actions</th>
            <th>
                @Html.DisplayNameFor(model => model.UseriD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mbiemri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datlindja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nr_Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gjinia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Punesimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusiMartesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendlindja)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Create", new {  id=item.UseriD, item.Emri, item.Mbiemri, item.Datlindja,item.Nr_Tel,item.Gjinia,item.Punesimi,item.StatusiMartesor,item.Vendlindja  } , new { @class="btn btn-warning"}) |@*
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new {  id=item.UseriD } , new { @class="btn btn-danger", onclick="return confirm('Do you really want to delete this record?')"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseriD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mbiemri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datlindja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nr_Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gjinia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Punesimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusiMartesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendlindja)
            </td>
        </tr>
}
    </tbody>
</table>


@section script{
    <script>
        $(function () {
            $("#basic-text1").click(function () {
                $("Form").submit();
            })
        })
    </script>
}
@section scripts{
    <script>
        $(function () {
            $("#basic-text1").click(function () {
                $("Form").submit();
            })
        })
    </script>
}


